www/node_modules
www/public/hot
www/public/storage
www/storage/*.key
www/vendor
www/.env
www/.env.backup
www/.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.docker/dbdata/
.idea/
.vscode/
.history/
.devcontainer/
